@model WebSrv.Models.ServerData

<div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <label class="col-lg-2 col-md-3 col-sm-12 nsg-label" for="ServerId">Id</label>
            <div class="col-lg-9 col-md-9 col-sm-12">
                @Html.DisplayFor(model => model.ServerId)
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <label class="col-lg-2 col-md-3 col-sm-12 nsg-label" for="ServerShortName">Short Name</label>
            <div class="col-lg-9 col-md-9 col-sm-12">
                @Html.DisplayFor(model => model.ServerShortName)
            </div>
        </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-12">
        <div class="form-group">
            <label class="nsg-md-1-1 nsg-label" for="ServerName">Name</label>
            <div class="col-lg-1 col-md-1 col-sm-120">
                @Html.DisplayFor(model => model.ServerName)
            </div>
        </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-12">
        <div class="form-group">
            <label class="nsg-md-1-1 nsg-label" for="ServerDescription">Description</label>
            <div class="col-lg-1 col-md-1 col-sm-120">
                @Html.DisplayFor(model => model.ServerDescription)
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <label class="col-lg-2 col-md-3 col-sm-12 nsg-label" for="WebSite">Device</label>
            <div class="col-lg-9 col-md-9 col-sm-12">
                @Html.DisplayFor(model => model.WebSite)
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <label class="col-lg-2 col-md-3 col-sm-12 nsg-label" for="ServerLocation">Location</label>
            <div class="col-lg-9 col-md-9 col-sm-12">
                @Html.DisplayFor(model => model.ServerLocation)
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <label class="col-lg-2 col-md-3 col-sm-12 nsg-label" for="FromName">From Name</label>
            <div class="col-lg-9 col-md-9 col-sm-12">
                @Html.DisplayFor(model => model.FromName)
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <label class="col-lg-2 col-md-3 col-sm-12 nsg-label" for="FromNicName">From Nic Name</label>
            <div class="col-lg-9 col-md-9 col-sm-12">
                @Html.DisplayFor(model => model.FromNicName)
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <label class="col-lg-2 col-md-3 col-sm-12 nsg-label" for="FromEmailAddress">From Email</label>
            <div class="col-lg-9 col-md-9 col-sm-12">
                @Html.DisplayFor(model => model.FromEmailAddress)
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <label class="col-lg-2 col-md-3 col-sm-12 nsg-label" for="TimeZone">Time-zone</label>
            <div class="col-lg-9 col-md-9 col-sm-12">
                @Html.DisplayFor(model => model.TimeZone)
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <label class="col-lg-2 col-md-3 col-sm-12 nsg-label" for="DST">DST</label>
            <div class="col-lg-9 col-md-9 col-sm-12">
                @Html.DisplayFor(model => model.DST)
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <label class="col-lg-2 col-md-3 col-sm-12 nsg-label" for="TimeZone_DST">Time-zone DST</label>
            <div class="col-lg-9 col-md-9 col-sm-12">
                @Html.DisplayFor(model => model.TimeZone_DST)
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <label class="col-lg-2 col-md-3 col-sm-12 nsg-label" for="DST_Start">DST Start</label>
            <div class="col-lg-9 col-md-9 col-sm-12">
                @Html.DisplayFor(model => model.DST_Start)
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <label class="col-lg-2 col-md-3 col-sm-12 nsg-label" for="DST_End">DST End</label>
            <div class="col-lg-9 col-md-9 col-sm-12">
                @Html.DisplayFor(model => model.DST_End)
            </div>
        </div>
    </div>
    <div class="nsg-clear-left"></div>

</div>
