@model WebSrv.Models.IncidentTypeData
@{
    ViewBag.Title = "Edit";
}
<h2>Incident Type/Default E-Mail Templete (Edit)</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <div class="nsg-float-left text-left">
            <span>
                @Html.ActionLink("Back to List", "Index")
            </span>
        </div>
        <div class="nsg-float-right text-right">
            <span>
                <input type="submit" value="Save" class="btn btn-info" />
            </span>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="panel-help">
                <div class="panel-title">
                    <a class="collapsed accordion-toggle" role="button" data-toggle="collapse"
                       data-parent="#accordion"
                       href="#collapse-help"
                       aria-expanded="false" aria-controls="collapse-help">
                        <div class="nsg-bold col-md-12">
                            E-Mail Template Variable List
                        </div>
                        <div class="nsg-clear-left"></div>
                    </a>
                </div>
            </div>
            <div id="collapse-help" class="panel-collapse collapse" role="tabpanel" aria-labelledby="panel-help">
                <div class="panel-body">
                    @Html.Partial("../Shared/EmailTemplateHelpPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IncidentTypeId)

        <div class="form-group">
            <label for='IncidentTypeShortDesc' class='control-label col-md-2'>Short Desc</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncidentTypeShortDesc, new { htmlAttributes = new { @class = "form-control", @maxlength = "8" } })
                @Html.ValidationMessageFor(model => model.IncidentTypeShortDesc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for='IncidentTypeDesc' class='control-label col-md-2'>Description</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncidentTypeDesc, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @style = "max-width:480px" } })
                @Html.ValidationMessageFor(model => model.IncidentTypeDesc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for='IncidentTypeFromServer' class='control-label col-md-2'>Use Server Values</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IncidentTypeFromServer)
                    @Html.ValidationMessageFor(model => model.IncidentTypeFromServer, "", new { @class = "text-danger" })
                    <strong>&lt;= From e-mail name and address</strong>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for='IncidentTypeSubjectLine' class='control-label col-md-2'>Subject Line</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncidentTypeSubjectLine, new { htmlAttributes = new { @class = "form-control", @style = "max-width:680px" } })
                @Html.ValidationMessageFor(model => model.IncidentTypeSubjectLine, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for='IncidentTypeEmailTemplate' class='control-label col-md-2'>Email Template</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.IncidentTypeEmailTemplate, new { @class = "form-control", @rows = "3", @style = "max-width:680px" })
                @Html.ValidationMessageFor(model => model.IncidentTypeEmailTemplate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for='IncidentTypeTimeTemplate' class='control-label col-md-2'>Time Template</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncidentTypeTimeTemplate, new { htmlAttributes = new { @class = "form-control", @style = "max-width:680px" } })
                @Html.ValidationMessageFor(model => model.IncidentTypeTimeTemplate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for='IncidentTypeThanksTemplate' class='control-label col-md-2'>ThanksTemplate</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncidentTypeThanksTemplate, new { htmlAttributes = new { @class = "form-control", @style = "max-width:680px" } })
                @Html.ValidationMessageFor(model => model.IncidentTypeThanksTemplate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for='IncidentTypeLogTemplate' class='control-label col-md-2'>Log Template</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncidentTypeLogTemplate, new { htmlAttributes = new { @class = "form-control", @style = "max-width:680px" } })
                @Html.ValidationMessageFor(model => model.IncidentTypeLogTemplate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for='IncidentTypeTemplate' class='control-label col-md-2'>Template</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncidentTypeTemplate, new { htmlAttributes = new { @class = "form-control", @style = "max-width:680px" } })
                @Html.ValidationMessageFor(model => model.IncidentTypeTemplate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}
