@model WebSrv.Models.IncidentTypeData
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncidentTypeId)
        </dd>

        <dt>
            Short Desc
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncidentTypeShortDesc)
        </dd>

        <dt>
            Description
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncidentTypeDesc)
        </dd>

        <dt>
            Use Server Values
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncidentTypeFromServer)
        </dd>

        <dt>
            Subject Line
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncidentTypeSubjectLine)
        </dd>

        <dt>
            Email Template
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncidentTypeEmailTemplate)
        </dd>

        <dt>
            Time Template
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncidentTypeTimeTemplate)
        </dd>

        <dt>
            Thanks Template
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncidentTypeThanksTemplate)
        </dd>

        <dt>
            Log Template
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncidentTypeLogTemplate)
        </dd>

        <dt>
            Template
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncidentTypeTemplate)
        </dd>

    </dl>
</div>
